div#between-content > *{
    color: white !important;
    margin-right: 10px;
}
#account-content {
    color: black !important;
    font-size: larger;
    font-weight: bold;
}
.nav-deco{
    background: linear-gradient(to left, #f5b90f 0%, #ff5252 100%);
}
.bg-home{
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url("../pictures/bg-home.jpg");
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lock-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.bg-lr{
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url("../pictures/bg-lr.jpg");
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home{
    font-size: larger;
    font-weight: bold;
}
.logo-font {
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to top, #ffc5ab 20%, yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px 1px black);
    line-height: 0.5em;
}
.logo-font1 {
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to top, gold 5%, orange 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 0.5px black);
    line-height: 0.5em;
}

