div#between-content>* {
    color: white !important;
    margin-right: 10px;
}

#account-content {
    color: black !important;
    font-size: larger;
    font-weight: bold;
}

.nav-deco {
    background: linear-gradient(to right, #e52d27, #b31217);
}

.bg-home {
    background-image: url("../pictures/bg-home.jpg");
    min-height: 100vh;
    height: 100;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lock-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.bg-lr {
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url("../pictures/bg-lr.jpg");
    min-height: 150vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    font-size: larger;
    font-weight: bold;
}

.bg-orange {
    background: #f89f9f;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f89f9f, #ffccdd);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f89f9f, #ffccdd);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f89f9f, #ffccdd);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f89f9f, #ffccdd);
    /* Standard syntax */
}

.logo-font {
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    background: linear-gradient(to top, #fffffd 20%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px 1px white);
    line-height: 0.5em;
}

.logo-font1 {
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    background: linear-gradient(to top, #fffffd 20%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px 1px whitesmoke);
    line-height: 0.5em;
}

.dropdown-menu>a:hover {
    color: yellow;
    background: #ff0000;
}

.table {
    table-layout: fixed;

}

th,
td {
    vertical-align: middle !important;
}

.wrapper {
    max-height: 400px;
    display: flex;
    overflow-x: auto;

}

.wrapper .item {
    min-width: 300px;
}
